# --- Ciencia de datos ---
pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
Pillow

# --- Entorno interactivo (muy importante) ---
ipython
jupyter
ipykernel
notebook

# --- Opcional pero recomendable ---
jupyterlab
ipywidgets
